/* @import "./icons/_index.css"; */
@import "./fonts.css";
@import "./utils.css";
@import "./scrollbar.css";
@import "./view-transition.css";

/**
 * theme
 */

@layer theme, base, components, utils;

@layer theme {
  :root {
    --font-family: "Oswald";

    --spacing: 4px;

    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;

    --primary: #17344b;
    --body-bg: black;
    --body-color: #a8a8a8;
    --muted-color: #a8a8a8b3;

    --z-index-loading: 101;
    --z-index-menu: 100;
  }
}

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  :focus-visible {
    outline: 2px solid var(--primary);
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    font-family: var(--font-family);
    background-color: var(--body-bg);
    color: var(--body-color);
  }

  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    color: inherit;
    background-color: #0000;
    border-radius: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  h1 {
    font-size: var(--text-3xl);
  }

  h2 {
    font-size: var(--text-2xl);
  }

  h3 {
    font-size: var(--text-xl);
  }

  h4 {
    font-size: var(--text-lg);
  }

  h5 {
    font-size: var(--text-lg);
    color: var(--muted-color);
  }

  h6 {
    font-size: var(--text-lg);
  }

  html,
  body,
  #root {
    height: 100%;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }
}
