.PortalText {
  --portal-diameter: 110px;
  --text-padding: 40px;
  --materialization-duration: 2.6s;
  --slide-duration: 1.5s;
  --string-font-size: 6rem;
  --flicker-duration: 1s;
  --hold-duration: 3s;
  --portal-color: rgba(var(--primary), 0.5);
  --portal-faint-side: rgba(var(--primary), 0.1);
  --portal-bold-side: rgba(var(--primary), 1);
  --final-portal-width: 13px;

  --cycle-duration: 12.2s;

  overflow: hidden;
  position: relative;
  contain: layout paint;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    display: block;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: var(--cycle-duration);
    will-change: transform, opacity;
  }

  &:before {
    content: attr(value);
    position: relative;
    z-index: 1;
    padding: 0 0 0 calc(var(--text-padding) - var(--final-portal-width));
    font-size: var(--string-font-size);
    color: #8d8d93;
    white-space: nowrap;
    animation-name: anim-text;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    background-color: var(--portal-color);
    border: 0 dotted;
    border-radius: 100%;
    border-left-color: var(--portal-faint-side);
    border-right-color: var(--portal-faint-side);
    border-top-color: var(--portal-bold-side);
    border-bottom-color: var(--portal-bold-side);
    animation-name: anim-portal;
  }

  @media (max-width: 768px) {
    --text-padding: 20px;
    --string-font-size: 4rem;
    --portal-diameter: 50px;
    --final-portal-width: 7px;
  }
}

@keyframes anim-portal {
  0%,
  100% {
    width: 0;
    height: 0;
    border-width: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 0 #17344b66;
  }

  10%,
  90% {
    width: var(--portal-diameter);
    height: var(--portal-diameter);
    border-width: 4px;
    box-shadow: 0 0 var(--final-portal-width) var(--final-portal-width) #17344b;
  }

  15%,
  80% {
    border-width: 2px;
    border-color: #17344bb3;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(5deg);
  }

  20%,
  60% {
    width: var(--final-portal-width);
    height: var(--portal-diameter);
    border-width: 2px;
    border-color: #17344bb3;
    left: 5%;
    transform: translate3d(0, -50%, 0) rotate(5%);
  }
}

@keyframes anim-text {
  0%,
  20% {
    transform: translate(calc(-100% - var(--text-padding)));
    opacity: 0.5;
    text-shadow: 0 0 5px #8d8d93;
  }

  33% {
    transform: translate(0);
    opacity: 0.5;
    text-shadow: 0 0 5px #8d8d93;
  }

  35% {
    opacity: 0.4;
    text-shadow: 0 0 4px #8d8d93;
  }

  36% {
    opacity: 0.8;
    text-shadow: 0 0 8px #8d8d93;
  }

  37%,
  66% {
    opacity: 1;
    text-shadow: 0 0 10px #8d8d93;
  }

  40% {
    opacity: 0.2;
    text-shadow: 0 0 2px #8d8d93;
  }

  60%,
  100% {
    transform: translate(calc(-100% - var(--text-padding)));
  }
}
